* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#card {
  background-color: bisque;
  padding: 18px 8px 26px 8px;
  display: table;
  /* gap: 42px; */
  border: 2px solid black;
  margin: 9px;
}

#card__desc {
  width: 58%;
  float: left;
  /* margin-right: 2px; */
}
#card__title {
  margin-bottom: 12px;
}

#card__img {
  width: 40%;
  float: right;
  /* height: 400px; */
}
